name: Auto Deploy

on:
  push:
    branches:
      - Version2

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Run Bash Script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: "sudo su && cd /var/www/p2h_app_imm && ./deploy-script.sh"
